@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(52, 154, 255);
  border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

@keyframes floating {
  0% { transform: translateY(-10px); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}

#floating-object {
  animation: floating 2s ease-in-out infinite;
}

#glassy-effect {
  background: rgba(50, 173, 255, 0.2);
  backdrop-filter: blur(32px); /* Blur the background slightly */
  -webkit-backdrop-filter: blur(64px); /* For older WebKit browsers */
}

@keyframes customEasing {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

#animated-element {
  animation: customEasing 2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite; /* Apply the easing function */
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#spinning-element {
  animation: spin 15s linear infinite; /* Customize speed and iterations here */
  animation-timeline: scroll(scroller axis);

}


@tailwind base;
@tailwind components;
@tailwind utilities;






